.district-card {
  border: solid white 2px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 250px;
  word-wrap: break-word;
  text-shadow: 1px 1px 2px black;
  margin: 20px;
  padding: 15px;
  height: 275px;
  display: inline-block;
  color: white;
  box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.637);
  background-color: rgb(217, 162, 233);
  font-family: arial;
  border-radius: 10px;
}

.blue {
  border: solid blue 2px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 250px;
  word-wrap: break-word;
  text-shadow: 1px 1px 1px black;
  margin: 20px;
  padding: 15px;
  height: 275px;
  display: inline-block;
  color: white;
  box-shadow: 4px 4px 4px black;
  background-color: rgba(0, 255, 255, 0.63);
  font-family: arial;
  border-radius: 10px;
}

.card-title {
  text-align: center;
}

.less-than-half {
  color: rgb(219, 42, 125);
}

.more-than-half {
  color: rgb(82, 1, 212);
}

.less-than-half,
.more-than-half {
  font-weight: bold;
}

.selected {
  border: solid blue 3px;
}

li {
  list-style-type: none;
  text-shadow: none;
}

ul {
  padding-left: 75px;
}